/*default size*/
.default-label {
  width: 55mm;
  height: 23mm;
  margin-bottom: 3mm;
  position: relative;
  /* margin: auto; */
  padding: 5px 3px 3px 5px;
  background-color: #fff;
  line-height: 14px;
}

.default-label p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.default-label .label-text {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.default-label .barcode {
  position: absolute;
  top: 70%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -5%) !important;
  background-color: white;
}