/*bigger size*/
.bigger-label {
  width: 40mm;
  height: 40mm;
  margin: 0.4mm 0.6mm 0.4mm 0.6mm;
  position: relative;
  /* margin: auto; */
  padding: 2px;
  border-radius: 10mm;
  background: gainsboro;
}

.bigger-label p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.bigger-label .label-text {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 9px;
  letter-spacing: 0.5px;
}

.bigger-label .barcode {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -5%) !important;
  background-color: white;
}