<!--tube-->
<div class="label" ng-if="$ctrl.labelComponent == 'participant'">
   <div class="label-text">
       <h3>{{$ctrl.BaseInfo.participant_name}}</h3>
       <span>CQ:{{$ctrl.BaseInfo.cq_group}}</span></br>
   </div>
   <svg id="{{$ctrl.BaseInfo.recruitment_number}}" class="barcode"></svg>
</div>

<div class="label" ng-if="$ctrl.labelComponent == 'biomaterial'">
  <div class="label-text">
    <p>{{$ctrl.tube.label}}</p>
    <div ng-style='{"overflow": "hidden","white-space": "nowrap","text-overflow": "ellipsis"}'>
      <span>{{$ctrl.BaseInfo.participant_name}}</span></br>
    </div>
    <div layout-align="space-between center" layout="row" flex>
      <span>NR:{{$ctrl.BaseInfo.recruitment_number}}</span>
      <span>Sexo:{{$ctrl.BaseInfo.gender}}</span>
    </div>
    <div layout-align="space-between center" layout="row" flex>
      <span>DN:{{$ctrl.BaseInfo.birthday}}    </span>
      <span ng-show="$ctrl.BaseInfo.laboratoryIdentification != null">Kit: {{$ctrl.BaseInfo.laboratoryIdentification}}</span>
    </div>
  </div>
  <svg id="{{$ctrl.tube.code}}" class="barcode"></svg>
</div>
