<div>
  <default-label ng-if="$ctrl.baseInfo.printStructure.labelSize.value == 'default'"
                 biomaterial="$ctrl.biomaterial"
                 base="$ctrl.baseInfo"
                 component-label="'biomaterial'"/>
  <small-label  ng-show="$ctrl.baseInfo.printStructure.labelSize.value == 'small'"
                biomaterial="$ctrl.biomaterial"
                base="$ctrl.baseInfo"
                component-label="'biomaterial'"/>
  <bigger-label ng-if="$ctrl.baseInfo.printStructure.labelSize.value == 'bigger'"
                biomaterial="$ctrl.biomaterial"
                base="$ctrl.baseInfo"
                component-label="'biomaterial'"/>
  <h1>bio</h1>
</div>