<div>
  <div ng-if="$ctrl.labelSize == 'default'">
    <default-label component-label="'participant'" base="$ctrl.baseInfo"/>
  </div>
  <div ng-if="$ctrl.labelSize == 'small'">
  <small-label ng-show="$ctrl.baseInfo.printStructure.labelSize.value == 'small'"
               component-label="'participant'" base="$ctrl.baseInfo"/>
  </div>
  <div ng-if="$ctrl.labelSize == 'bigger'">
    <bigger-label ng-show="$ctrl.baseInfo.printStructure.labelSize.value == 'bigger'"
                  component-label="'participant'" base="$ctrl.baseInfo"/>
  </div>
</div>
