<div id="print-page" layout-align="start center" ng-if="$ctrl.loadComponents">
  <ul ng-class="'label-grid'">
    <li ng-if="$ctrl.laboratoryInfo.laboratoryIdentification == null && $ctrl.baseInfo.printStructure.identified.value">
      <participant-label base="$ctrl.baseInfo" ng-if="$ctrl.laboratoryInfo.laboratoryIdentification == null && $ctrl.baseInfo.printStructure.identified.value"></participant-label>
    </li>
    <li ng-if="$ctrl.laboratoryInfo.laboratoryIdentification != null">
      <unattached-label base="$ctrl.laboratoryInfo" ng-if="$ctrl.laboratoryInfo.laboratoryIdentification != null"></unattached-label>
    </li>
    <li class="green" ng-repeat="biomaterial in $ctrl.newbiomaterialList track by $index">
      <biomaterial-label base="$ctrl.baseInfo" biomaterial="biomaterial"></biomaterial-label>
    </li>
  </ul>
</div>