<div id="print-page" layout-align="start center" ng-if="$ctrl.loadComponents">
<!--  <unattached-label base="$ctrl.laboratoryInfo" ng-if="$ctrl.laboratoryInfo.laboratoryIdentification != null"></unattached-label>-->
  <participant-label base="$ctrl.baseInfo" ng-if="$ctrl.laboratoryInfo.laboratoryIdentification == null"></participant-label>
  <biomaterial-label base="$ctrl.baseInfo" biomaterial="biomaterial" ng-repeat="biomaterial in $ctrl.bioMaterialList track by $index"></biomaterial-label>
</div>