/*default size*/
.small-label {
  width: 41.27mm;
  height: 15.87mm;
  margin-bottom: 3mm !important;
  margin-left: 0.625mm;
  margin-right: 0.625mm;
  position: relative;
  /* margin: auto; */
  padding: 2px;
  background-color: #fff;
  line-height: 14px;
}

.small-useble-label {
  width: 25.4mm;
  background: #3883ff;
}

.small-unuseble-label {
  width: 15.87mm;
  background: red;
}

.small-label p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.small-label .label-text {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.small-label .barcode {
  position: absolute;
  top: 70%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -5%) !important;
  background-color: white;
}

