@page {
  size: 60mm 30mm;
  margin: 0mm;
}

* {
  padding: 0px;
  margin: 0px;
  /*visibility: hidden;*/
}

#print-page {
  font-family: monospace;
  margin: auto;
  overflow:hidden;
}

#print-page, #print-page * {
  visibility: visible;
}

.label {
  width: 55mm;
  height: 23mm;
  margin-bottom: 3mm !important;
  position: relative;
  /* margin: auto; */
  padding: 5px 3px 3px 5px;
  background-color: #fff;
  line-height: 14px;
}

.label p {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.label .label-text {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.label .barcode {
  position: absolute;
  top: 70%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -5%) !important;
  background-color: white;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

@media screen {
  .no-print, .no-print * {
    visibility: visible;
  }

  body {
    margin: 2% 40%;
  }
}

.button-print{
  bottom: 5px;
  right: 0;
  position: fixed;
  background-color: #3883ff;
}

.material-icons.white {
  color: #ffffff;
}